html {
    height: 100%; /*to get background-image gradient to fill whole screen*/
}

body {
  background-image: linear-gradient(to bottom right, #000057 5%, white 20%, white 70%, #000057 85%, #561866);
  font-family: 'Segoe UI';
  color: #2F2F2F;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}
