html {
   /* height: 100%; /*to get background-image gradient to fill whole screen*/
}

body {
  /*background-image: linear-gradient(to bottom right, #000070 5%, #d6d600 20%, white 70%, #000070 85%, #561866);*/
  background-color: #0d0d0d;
  font-family: 'Segoe UI';
  color: #F2F2F2;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}
